<!--
Interpolacion de strings

<h1>Hello, {{objetoGlobal.title| uppercase}}</h1>

<h2>Mi Edad es: {{objetoGlobal.age + 10}}</h2>

<h3>Metodo: {{test()}}</h3>

<h4>Soy mayor de edad?: {{objetoGlobal.mayor ? "Si" : "No"}}</h4>

<h5>Edad con expresion: {{objetoGlobal.age >= 18 ? "Si" : "No"}}</h5>

Bindeo 1 way
<div [class]="objetoGlobal.class">
    Texto de prueba
</div>

bindeo 2 ways
<input type="text" [(ngModel)]="objetoGlobal.title">

<div>
    {{objetoGlobal | json}}
</div>
!-->

<router-outlet></router-outlet>