<div class="home-container">
    <app-header></app-header>
    <div class="content-container">
        <section class="filter">
            <mat-form-field>
                <mat-label>Generos</mat-label>
                <mat-select>
                    <mat-option value="">Rock</mat-option>
                    <mat-option value="">Salsa</mat-option>
                    <mat-option value="">Bachata</mat-option>
                </mat-select>
            </mat-form-field>
            <span>Selecciona tu genero musical favorito</span>
        </section>
        <section class="event-list">
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
            <app-card></app-card>
        </section>
    </div>
    <app-footer></app-footer>
</div>